<div class="instructions container">
    <h1 class="title">THE INSTRUCTIONS</h1>
    <p [style.margin-bottom.px]="35">
        "The Button" is a social experiment first created by popular YouTuber

        <a class="instruction-link" target="_blank" href="https://www.youtube.com/channel/UChFur_NwVSbUozOcF_F2kMg">Mumbo Jumbo</a>, first seen on
        
        <a class="instruction-link" target="_blank" href="https://youtu.be/hrqi4PM-uL0">Episode 14 - The Button</a> 
        
        of his popular Hermitcraft 7 series. Mumbo Jumbo and his fellow hermits make great Minecraft content 
        that I highly reccomend checking out.
    </p>

    <h5><strong>Mumbo explains "the button" like so:</strong></h5>
    <p [style.margin-bottom.px]="35">( slightly edited to fit this implementation)</p>

    <div class="instruction-wrapper">
        <p>
            <strong>What is The Button?</strong> The button is alive and has to be kept alive by being pressed.
            The closer to death the button is when you save it, the higher 'rank' you get. 
            When a user has an account, your rank is signified by the colored banner to the left of your display name.
        </p>

        <p>
            <strong>How does The Button work?</strong> If you press the button, the timer resets, and you will gain the colored rank that the timer
            was at when you pressed the button.
        </p>

        <p>
            <strong>Do I get a prize for saving it in <span class="red">red?</span></strong> Nope!
            But everyone will think you are awesome. And <span class="purple">purple team</span> members will bow down to you. 
            Should you laugh at people who are a lower rank than you? YES! 100% YES.
        </p>

        <p>
            <strong>It's all fun and games,</strong> but people on <span class="purple">purple team</span> should be ridiculed.
        </p>

        <p>Long live the button!</p>
    </div>
</div>

