<div class="instructions container">
    <h1 class="title">THE INSTRUCTIONS</h1>
    <p [style.margin-bottom.px]="35">
        "The Button" is a social experiment brought to light by popular YouTuber

        <a class="instruction-link" target="_blank" href="https://www.youtube.com/channel/UChFur_NwVSbUozOcF_F2kMg">Mumbo Jumbo</a>, first seen on
        
        <a class="instruction-link" target="_blank" href="https://youtu.be/hrqi4PM-uL0">Episode 14 - The Button</a> 
        
        of his popular Hermitcraft 7 series. Mumbo Jumbo and his fellow hermits make great Minecraft content 
        that I highly reccomend checking out.
    </p>

    <h5><strong>Mumbo explains "the button" like so:</strong></h5>
    <p [style.margin-bottom.px]="35">( slightly edited to fit this implementation)</p>

    <div class="instruction-wrapper">
        <p>
            <strong>What is The Button?</strong> The button is alive and has to be kept alive by being pressed.
            The closer to death the button is when you save it, the higher 'rank' you get. 
            When a user has an account, your rank is signified by the colored banner to the left of your display name.
        </p>

        <p>
            <strong>How does The Button work?</strong> If you press the button, the timer resets, and you will gain the colored rank that the timer
            was at when you pressed the button.
        </p>

        <p>
            <strong>Do I get a prize for saving it in <span class="red">red?</span></strong> Nope!
            But everyone will think you are awesome. And <span class="purple">purple team</span> members will bow down to you. 
            Should you laugh at people who are a lower rank than you? YES! 100% YES.
        </p>

        <p>
            <strong>It's all fun and games,</strong> but people on <span class="purple">purple team</span> should be ridiculed.
        </p>

        <p>Long live the button!</p>
    </div>

    <h5 [style.margin-bottom.px]="35"><strong>Extra Information</strong></h5>
    <div class="instruction-wrapper">
        <p>
            <strong>Authorization</strong> is handled through 
            <a class="instruction-link" target="_blank" href="https://auth0.com/security/">Auth0,</a>
            a leader in security providers. No personal information is stored on the app's database.
        </p>
        <p>
            <strong>The source code</strong> for the client application can be found at
            <a class="instruction-link" target="_blank" href="https://github.com/jsainz237/the-button">github.com/jsainz237/the-button</a>, and the server
            source code can be found at <a class="instruction-link" target="_blank" href="https://github.com/jsainz237/the-button-server">github.com/jsainz237/the-button-server</a>.
        </p>
        <p>
            <strong>Bugs and/or suggestions</strong> can be emailed to 
            <a class="instruction-link" href="mailto:the.button.suggestions@gmail.com">the.button.suggestions@gmail.com</a>.
            I will try to keep up to date and add new features every so often. However I have other projects in the works at the moment, so I will not be updating
            on a regular basis.
        </p>
    </div>
</div>

