<form [formGroup]="settingsForm" class="form">
    <div class="form-group">
        <div>
            <label for="displayname">change display name</label>
            <input formControlName="displayname" id="displayname" type="text" name="displayname" placeholder="Display name">
        </div>
    </div>

    <div class="bottom-wrapper">
        <button class='form-button' type="submit" (click)="submitDisplayNameEdit()" [ngClass]="!showCheckmark ? 'disabled' : null" [disabled]="!showCheckmark">Save</button>
        <span *ngIf="showError(displayname)" class="error-icon" placement="left" tooltipClass="error-tooltip" [ngbTooltip]="displaynameErrors">
            <i class="fas fa-times-circle"></i>
        </span>
        <span *ngIf="showCheckmark" class="checkmark-icon">
            <i class="fas fa-check-circle"></i>
        </span>
    </div>
</form>

<!-- Templates for displaying displayname field errors in tooltip -->
<ng-template #displaynameErrors>
    <ul [style.padding-left.px]="25" *ngFor="let error of displayname.errors | keyvalue">
        <li>{{ error.value }}</li>
    </ul>
</ng-template>
