<div class="login container">
    <h1 class="title" [style.margin-bottom.px]="25">THE LOGIN</h1>
    <input [(ngModel)]="username" type="text" name="username" class="login-input" placeholder="Username">
    <input [(ngModel)]="password" type="password" name="password" class="login-input" placeholder="Password">

    <button class="the-login-button" (click)="submit()">Submit</button>

    <p class="link">go to <a routerLink="/register">register</a></p>
    <p class="link">return <a routerLink="/">home</a></p>
</div>