@import "../../variables";

$bar-height: 50px;
$bar-width: 75vw;
$box-margin: 2px;

.color-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: $bar-width;
    max-width: 1080px;
    height: $bar-height;
    background-color: white !important;
}

.progress-bar-section {
    height: 100%;
}

.gray {
    background-color: $gray;
}

.purple {
    background-color: $purple;
}

.blue {
    background-color: $blue;
}

.green {
    background-color: $green;
}

.yellow {
    background-color: $yellow;
}

.orange {
    background-color: $orange;
}

.red {
    background-color: $red;
}