$bar-height: 50px;
$bar-width: 75vw;
$box-margin: 2px;

.color-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: $bar-width;
    height: $bar-height;
}

.progress-bar-section {
    height: 100%;
}

.gray {
    background-color: gray;
}

.purple {
    background-color: rgb(215, 23, 233);
}

.blue {
    background-color: rgb(33, 93, 255);
}

.green {
    background-color: rgb(0, 212, 0);
}

.yellow {
    background-color: rgb(249, 226, 20);
}

.orange {
    background-color: rgb(255, 172, 20);
}

.red {
    background-color: rgb(255, 20, 20);
}