$gray: #808080;
$purple: #B917E9;
$blue: #215dff;
$green: #00d400;
$yellow: #f9e214;
$orange: #ffac14;
$red: #ff1414;

$button-color: #20aaff;
$button-hover-color: #008ee6;
$button-color-active: #70c8ff;