$gray: gray;
$purple: rgb(215, 23, 233);
$blue: rgb(33, 93, 255);
$green: rgb(0, 212, 0);
$yellow: rgb(249, 226, 20);
$orange: rgb(255, 172, 20);
$red: rgb(255, 20, 20);

$button-color: #20aaff;
$button-hover-color: #008ee6;
$button-color-active: #70c8ff;