@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');
@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {
    .title {
        font-size: 2em;
    }
}

@include media-breakpoint-up(sm) {
    .title {
        font-size: 4em;
    }
}

body {
    margin: 0
}

.container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.link {
    text-decoration: none;
    border: none;
    background: none;
    font-size: 1em;
    color: $gray;

    a {
        color: $button-color;
    }
}

.error-icon {
    // position: absolute;
    font-size: 1.3em;
    color: $red;
}

.checkmark-icon {
    // position: absolute;
    font-size: 1.3em;
    color: $green;
}

.title {
    font-family: 'Montserrat', sans-serif;
    // font-size: 4em;
    font-weight: bold;
    color: $gray;
}

.error-tooltip {
    .tooltip-inner {
        padding: 10px;
        text-align: left;
    }

    ul {
        margin: 0;

        li {
            margin: 5px 0;
        }
    }
}