@import "../../variables";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {
    .home-dropdown {
        display: none;
    }
}

.instructions-link:after {
    content: 'Instructions';
}

@include media-breakpoint-down(xs) {
    .instructions-link:after {
        content: '?';
    }
}

.home {
    min-height: 500px;
}

.home-link {
    color: $gray;
    text-decoration: none;
    margin: 0;
    cursor: pointer;

    &:hover {
        color: $button-color;
        text-decoration: underline;
    }
}

.home-link.sign-out:hover {
    color: red;
}

.home-icon {
    cursor: pointer;
}

.userinfo {
    text-decoration: none;
    margin: 0;
    margin-right: 15px;
    cursor: auto;
}  

.dropdown-menu {
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.363);
}

.dropdown-divider {
    width: 100%;
    height: 1px;
    background-color: $gray;
}

.home-link.loggedIn {
    cursor: auto;

    &:hover {
        text-decoration: none;
    }
}

.home-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 90px);
    margin-top: 25px;
    padding: 0 45px;
    color: $gray;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
    font-size: 18px;
}

@include media-breakpoint-down(sm) {
    .home-toolbar {
        padding: 0;
    }
}

.home-content {
    flex: 1;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-auth-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-rank-icon {
    margin-right: 15px;
    display: flex;
}

.auth-separator {
    height: 20px;
    width: 2px;
    border-radius: 25px;
    background-color: $gray;
}