<div class="home container">

    <div class="home-toolbar">
        <a routerLink="/instructions" class="home-link instructions-link"></a>
        <div class="home-auth-wrapper">
            <span 
                class="home-rank-icon" 
                *ngIf="this.authService.isLoggedIn" 
                [style.color]="rankColor"
                placement="bottom"
                [ngbTooltip]="user.rank + ' TEAM!'"
            >
                <i class="fas fa-bookmark"></i>
            </span>
            <a [ngClass]="authService.isLoggedIn ? 'userinfo' : 'home-link'" (click)="login()">{{ userInfo }}</a>

            <div ngbDropdown *ngIf="authService.isLoggedIn" display="dynamic" placement="bottom-right" class="home-dropdown">
                <span ngbDropdownToggle class='home-icon'><i class="fas fa-cog"></i></span>
                <div ngbDropdownMenu class='dropdown-menu'>
                    <app-settings-form></app-settings-form>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem class="home-link sign-out" (click)="authService.logout()">sign out</a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="home-content">
        <h1 class="title">THE BUTTON</h1>
        <app-color-bar *ngIf="!isDead"></app-color-bar>
        <app-the-button *ngIf="!isDead"></app-the-button>
        <app-feed *ngIf="!isDead"></app-feed>
        <img src="{{ this.gifLink }}" *ngIf="isDead" height="auto" width="60%" />
    </div>
    
</div>