<div class="register-container" [formGroup]="registerForm">
    <h1 class="title" [style.margin-bottom.px]="25">THE REGISTER</h1>
    
    <form [formGroup]="registerForm" class="form">

        <div class="input-container">
            <input formControlName="username" type="text" 
                name="username" class="register-input" placeholder="Username" required>
            <div *ngIf="username.invalid && (username.dirty || username.touched)">
                <span class="error-icon">
                    <i class="fas fa-times-circle"></i>
                </span>
            </div>
        </div>

        <input type="password" name="password" class="register-input" placeholder="Password">
        <input type="password" name="passwordConfirm" class="register-input" placeholder="Confirm Password">

        <button type="submit" class="the-register-button" (click)="submit()">Submit</button>
    </form>

    <p class="link">go to <a routerLink="/login">login</a></p>
    <p class="link">return <a routerLink="/">home</a></p>
</div>
